.form {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50px;
}

.form input {
    padding: .5rem;
    width: 90%;
}

.form button {
    padding: .5rem;
    width: 10%;
}